.campos{
    width: 100%;
    height: 600px;
}

.campos form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.campos form input{
    width: 350px;
    height: 40px;
    background-color: #141414;
    border: 2px solid #cc0002;
    border-radius: 20px;
    color: #fff;
}

.campos form label{
    margin-top: 30px;
}

.campos form input::placeholder{
    color: #fff;
}

.aviso{
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to right, #141414, #580202, #cc0002);
}