.titulo{
    width: 100%;
    height: 100px;
    color: #fff;
    background-color: #141414;
}

.vagas{
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-color: #141414;
}

.vaga{
    width: 95%;
    height: 200px;
    border: 2px solid #820002;
    margin-top: 15px;
    color: #fff;
    background-color: #141414;
    border-radius: 10px 40px 10px 40px;
}

.vaga a{
    text-decoration: none;
    color: #fff;
}

.vaga h1{
    display: flex;
    justify-content: center;
}

.vaga button{
    float: right;
    width: 100px;
    height: 50px;
    border-radius: 10px 20px 10px 20px;
    background-color: #141414;
    color: #fff;
    border: #820002 2px solid;
}

.vaga button:hover{
    background-color: #820002;
    border: 2px #cc0002 solid;
}