.titulo{
    width: 100%;
    height: 100px;
}

.vagas{
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.vaga{
    width: 95%;
    height: 200px;
    border: 1px solid #000;
    margin-top: 15px;
    border-radius: 20px;
}

.vaga h1{
    display: flex;
    justify-content: center;
}

.vaga button{
    float: right;
    width: 100px;
    height: 30px;
    border-radius: 10px;
    background-color: #fff;
    border: #000 1px solid;
}