* {
    margin: 0;
    padding: 0;
}

html {
    overflow-x: hidden;
    /* proibir rolagem Horizontal*/
}

.banner {
    width: 100%;
    height: 1006px;
    color: white;
    background-color: #141414;

}

.banner h1 {
    font-size: 70px;
    padding-top: 50px;
    padding-right: 310px;
    float: right;

}

.banner p {
    padding-right: 110px;
    padding-top: 5px;
    font-size: 40px;
    float: right;

}

.banner img {
    width: 50%;
    ;
    height: 1006px;
    float: left;


}

.banner button {
    height: 58px;
    width: 162px;
    background-color: aliceblue;
    color: black;
    border-radius: 21px;
    margin-top: 20px;
    margin-right: 123px;
}

button:hover {
    background-color: rgb(203, 22, 22);
    cursor: pointer;
}


.meio {
    width: 100%;
    height: 350px;
    background-image: radial-gradient(circle at left, #cc0002, #a30002, #820002, #141414, #141414, #141414, #141414, #141414, #141414);
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards {
    width: 100%;
    height: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
}

.contatos {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #141414;
    color: #fff;
}

.contatos h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.quem {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    background-color: #141414;
    color: #fff;
}

.quem h1 {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

footer {
    width: 100%;
    height: 75px;
    background-color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}